img {
    width: 500px;
    border: 10px dotted rgb(112, 41, 99);
    margin: auto;
}
p {
    background-color: yellow;
    width: 40%;
    margin: 10px auto;
}
div {
    background-color: gray;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}
.tobbsoros {
    display: block;
}

.egysoros {
    display: inline;
}
.vegyes {
    display: inline-block;
}
.nincsitt {
    display: none;
}