body {
    background-color: lightblue;
}
#piros {
    background-color: red;
    width: 150px;
}
#kék {
    background-color: blue;
    width: 75%;
}
#felső_doboz {
    background-color: lightgrey;
    width: 50%;
}