body {
    width: 80%;
    border: 1px solid black;
}

div {
    width: 100px;
    height: 50px;
    border: 1px solid black;
}

#a {
    background-color: red;
}

#b {
    background-color: green;
}

#c {
    background-color: blue;
}

#d {
    background-color: yellow;
}

#e {
    background-color: brown;
    text-align: right;
}
